{% extends 'aplicacion/administracion.html' %}
{% load static %}

    {% block contenido %}
    <div class="detail-box">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="inner_detail-box">
          <h1>
            Peugeot Administracion<br>
            
          </h1>
          <p>
            Administracion Peugeot
          </p>
          <div>
            <a href="{% url 'create_nuevo' %}" class="slider-link">
              Cargar nuevos clientes
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <body>
    <h1>
      Clientes en Gestion
    </h1>
    <table>
        <tr>
            <td><h4>Cliente: {{object}}</h4></td>
        </tr>
    </table>
    <table class="table">
      <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Estado_de_documentacion</th>
            <th>Financiacion</th>
            <th>Proximo_paso</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.cliente }}</td>
            <td>{{ object.estado_de_documentacion }}</td>
            <td>{{ object.financiacion }}</td>
            <td>{{ object.proximo_paso }}</td>
        </tr>
      </tbody> 
    </table>
    <a
    href="../../administracion/"
    class="btn btn-danger"
    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; ---bs-btn-padding-siza: .75rem;"
    ><i class="fa fa-search fa-sm" title="List Back">Volver</i>
    </a>

        {% endblock contenido %}
          
    