<!DOCTYPE html>
<html>

<head>
  {% load static %}
  
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="images/favicon.png" type="image/gif" />

  <title>Senatore Peugeot</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{%static 'aplicacion/css/bootstrap.css'%}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- fontawesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- lightbox Gallery-->
  <link rel="stylesheet" href="{%static 'aplicacion/css/ekko-lightbox.css'%}" />

  <!-- font awesome style -->
  <link href="{%static 'aplicacion/css/font-awesome.min.css'%}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{%static 'aplicacion/css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{%static 'aplicacion/css/responsive.css' %}" rel="stylesheet" />

</head>

<body>

  <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href= " ">
          <span>
            PEUGEOT - Inicio
          </span>
        </a>
        <div class="" id="">

          <div class="custom_menu-btn">
            <button onclick="openNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="{% url 'admin:index'%}">Login</a>
                <a href="{% url 'usados'%}">Usados</a>
                <a href="{% url 'service'%}">Service</a>
                <a href="{% url 'nuevos'%}">Nuevos</a>
                <a href="{% url 'administracion'%}">Administracion</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->

  <!-- slider section -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <section class="slider_section position-relative">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="img_container">
            <div class="img-box">
              <img src="{%static 'aplicacion/images/presentacion0.jpg'%}" class="" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="img_container">
            <div class="img-box">
              <img src="{%static 'aplicacion/images/presentacion001.jpg'%}" class="" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="img_container">
            <div class="img-box">
              <img src="{%static 'aplicacion/images/presentacion2.jpg'%}" class="" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel_btn_box">
        <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="detail-box">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="inner_detail-box">
          <h1>
            Peugeot Concesionario Oficial<br>
            
          </h1>
          <p>
            Te presentamos nuestros vehículos y servicios en conjunto. ¡Te deseamos una agradable visita!
          </p>
          <div>
            <a href="" class="slider-link">
              CONTACTANOS
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->

  <!-- about section -->

  <section class="about_section layout_padding ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{%static 'aplicacion/images/about-img.jpg'%}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Acerca de Nosotros
              </h2>
            </div>
            <p>
              Peugeot es una marca internacional, con 200 años de historia y presencia en más de 160 países. Actualmente se encuentra en un camino hacia la alta gama, sin dejar de ser generalistas y con el objetivo de liderar cada segmento donde compiten sus automóviles.
              La marca apunta a una mejora en gestión de calidad y de servicio de postventa. El nuevo slogan, Motion & Emotion, es la prueba más significativa del constante desarrollo.
            </p>
            <a href="">
              Saber Mas!!
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- gallery section -->
  <div class="gallery_section layout_padding2">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2>
          Gallery
        </h2>
      </div>
      <div class="ekko-lightbox">
        <div class=" col-sm-8 col-md-6 px-0">
          <div class="img-box">
            <img src="{%static 'aplicacion/images/g1.jpg'%}" alt="">
            <a href="{%static 'aplicacion/images/g1.jpg'%}" data-toggle="" data-gallery="gallery">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 px-0">
          <div class="img-box">
            <img src="{%static 'aplicacion/images/g2.jpg'%}" alt="">
            <a href="{%static 'aplicacion/images/g2.jpg'%}" data-toggle="" data-gallery="gallery">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 px-0">
          <div class="img-box">
            <img src="{%static 'aplicacion/images/g3.jpg'%}" alt="">
            <a href="{%static 'aplicacion/images/g3.jpg'%}" data-toggle="" data-gallery="gallery">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 px-0">
          <div class="img-box">
            <img src="{%static 'aplicacion/images/g4.jpg'%}" alt="">
            <a href="{%static 'aplicacion/images/g4.jpg'%}" data-toggle="" data-gallery="gallery">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-4 col-md-3 px-0">
          <div class="img-box">
            <img src="{%static 'aplicacion/images/g5.jpg'%}" alt="">
            <a href="{%static 'aplicacion/images/g5.jpg'%}" data-toggle="" data-gallery="gallery">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-8 col-md-6 px-0">
          <div class="img-box">
            <img src="{%static 'aplicacion/images/g6.jpg'%}" alt="">
            <a href="{%static 'aplicacion/images/g6.jpg'%}" data-toggle="" data-gallery="gallery">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <!-- end gallery section -->


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Post Venta / Taller
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{%static 'aplicacion/images/s1.jpg'%}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Service 10.000 kms
              </h5>
              <p>
                Si estás en los 10.000 kms, te recordamos que debes realizar el primer service par el cuidado y control de tu vehículo.
                Te recordamos tambien, debes hacerlo si ya ha transcurrido 1 año de la compra.
              </p>
              <a href="">
                solicita tu turno!
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{%static 'aplicacion/images/distribucion.jpg'%}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Control de la Distribucion
              </h5>
              <p>
                Si lo que estás necesitando es el service de recambio de la distribucion, o solo necesitas un control de la misma, te esperamos en nuestros talleres oficiales, para pasar un buen momento
              </p>
              <a href="">
                solicita tu turno!
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{%static 'aplicacion/images/chapapintura.jpg'%}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Reparacion de chapa y pintura
              </h5>
              <p>
                Aqui encontrarás a los mayores expertos en el tratamiento de la chapa y la pintura de tu vehiculo, cualquier tipo de arreglos que debas hacerlo, te garantizamos que queda igual a 0km! te esperamos en nuestro taller.
              </p>
              <a href="">
                solicita tu turno!
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end service section -->



  <!-- blog section -->

  <section class="blog_section ">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          Ultimas Publicaciones
        </h2>
      </div>
      <div class="row">
        <div class="col-lg-6 ">
          <div class="box">
            <div class="img-box">
              <img src=" {%static 'aplicacion/images/Peugeot-precios-1024x631.jpg'%} " alt="">
            </div>
            <div class="detail-box">
              <h5>
                LOS 3 MODELOS DE PEUGEOT QUE CUESTAN LO MISMO PARA NO PAGAR «IMPUESTO AL LUJO»
              </h5>
              <p>
                En Argentina sucede desde hace tiempo algo muy particular con los precios de lista sugeridos por las marcas para los autos cero kilómetro. Desde que está vigente el mal llamado “impuesto al lujo”, un arancel que afecta cada vez más a modelos de gama baja y media, algunas empresas “topean” los precios de sus modelos para que no estén afectados por la primera o la segunda escala del impuesto.
              </p>
              <a href="">
                Leer Mas
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ">
          <div class="box">
            <div class="img-box">
              <img src=" {% static 'aplicacion/images/peugeot-e3008.jpg'%} " alt=" a">
            </div>
            <div class="detail-box">
              <h5>
                PRIMERA FOTO OFICIAL DE LA NUEVA PEUGEOT E-3008
              </h5>
              <p>
                La nueva generación de la SUV para el Segmento C (compacto) será 100% eléctrica y tendrá una silueta tipo fastback. La nueva 3008 se presentará en septiembre próximo, pero la marca adelantó esta primera imagen para poner en marcha un concurso internacional. Quienes fotografíen a las unidades de prensa con camuflaje y las compartan en las redes sociales de Peugeot serán invitados a participar del test drive para la prensa internacional, que se realizará en 2024.
              </p>
              <a href="">
                Leer Mas
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ">
          <div class="box">
            <div class="img-box">
              <img src=" {% static 'aplicacion/images/peugeot-408.jpg'%} " alt=" a">
            </div>
            <div class="detail-box">
              <h5>
                Peugeot 408 PureTech 130 EAT8              </h5>
              <p>
                El Peugeot 408 es el coche que vosotros decidisteis que debía ganar el premio a Coche del Año en los MotorAwards 2023, celebrados hace relativamente poco. Y vosotros también nos pedisteis una prueba con la motorización de acceso, la gasolina de 130 CV. Pues aquí está. El Peugeot 408 PureTech 130 EAT8 en acabado GT.
              </p>
              <a href="">
                Leer Mas
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ">
          <div class="box">
            <div class="img-box">
              <img src=" {% static 'aplicacion/images/peugeot-508.jpg'%} " alt=" a">
            </div>
            <div class="detail-box">
              <h5>
                Nuevo Peugeot 508: Rediseñado
              </h5>
              <p>
                Peugeot ha presentado una actualización del 508 en sus dos versiones, berlina y SW. El frontal cambia radicalmente con la adopción de una nueva parrilla más grande, similar a la de los 308, 3008 y 5008, unos faros matriciales de LED para toda la gama, con nuevas luces diurnas y la presencia en el centro del frontal del nuevo logotipo de la marca estrenado en el 308.
              </p>
              <a href="">
                Leer Mas
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end blog section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Opiniones
        </h2>
      </div>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{%static 'aplicacion/images/cliente.jpg'%}" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <h6>
                        Victoria
                      </h6>
                    </div>
                    <p>
                      Desierto de los Leones es uno de mis sitios preferidos para entrenar y correr. En esta ocasión, descubrí el placer de manejar a bordo del nuevo Peugeot 2008, un SUV perfecta para relajarte antes de hacer ejercicio.
                    </p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{%static 'aplicacion/images/client1.jpg'%}" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <h6>
                        Martin
                      </h6>
                    </div>
                    <p>
                      Eficiencia y calidad en la atención. Me cumplieron en todo, los tiempos, la plata, no hubieron sorpresas, y ademas el auto anda barbaro. Felicitaciones y sigan asi.
                    </p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{%static 'aplicacion/images/client2.jpg'%}" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <h6>
                        Maria
                      </h6>
                    </div>
                    <p>
                      es un éxito indiscutible, su llamativo diseño exterior y su innovador diseño interior con un renovado i-cockpit son algunos de los ingredientes que han convertido al 3008 en un coche muy recomendable. Incluso siendo un SUV su comportamiento en carretera es muy bueno, mostrando que los ingenieros de Peugeot han intentado hacer un modelo lo más estable en carretera posible dejando de lado el confort a su primo de Citroën, el C5 Aircross.
                    </p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- contact section -->
  <section class="contact_section  ">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-6 ">
          <div class="form_container">
            <div class="heading_container ">
              <h2>
                CONTACTANOS
              </h2>
            </div>
            <form method="post">
              {% csrf_token%}
              {{ form.as_div }}
              <input type="submit" value="Enviar">
            </form>

          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="subscribe-box">
            <h3>
              Subscribe To Our Newsletter
            </h3>
            <p>
              Neque, omnis? Maiores consectetur molestiae assumenda earum ea exercitationem velit tempora molestias quae, neque voluptas magnam maxime, repudiandae voluptatum quaerat tempore accusamus.
            </p>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row info_main_row">
        <div class="col-md-6 col-lg-3">
          <div class="info_detail">
            <h5>Nuestros Horarios:</h5>
            <h4>
              Area comercial
            </h4>
            <p class="mb-0">
              <h6>lun-vier 8:30 a 19:30</h6>
              <h6>sab 9:00 a 18:30 </h6>
              <h6>dom y feriados  cerrado</h6>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_detail">
            <h4>  </h4>
            <h4>
              administracion y taller
            </h4>
            <p class="mb-0">
              <h6>lun-vier 8:30 a 19:30</h6>
              <h6>sab 9:00 a 13:00 </h6>
              <h6>dom y feriados  cerrado</h6>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4>
            Contact Us
          </h4>
          <div class="info_contact">
            <a href="https://www.google.it/maps/place/Autocity+C%C3%B3rdoba/@-31.4137746,-64.2714914,17z/data=!3m1!4b1!4m14!1m7!3m6!1s0x943298c95ab9728b:0xa946f51d4f2f3fc9!2sAvant+Peugeot+Concesionario+Oficial!8m2!3d-31.4138298!4d-64.2688522!16s%2Fg%2F1tj22m_1!3m5!1s0x94329f6a3304eefb:0xfcc4abf62106ba2f!8m2!3d-31.4137746!4d-64.2689165!16s%2Fg%2F11g6ltzrxc?entry=ttu">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Ubicacion
              </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                +549 3513784849
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope"></i>
              <span>
                crsenatore.cs@gmail.com
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4>
            Siguenos
          </h4>
          <div class="social_box">
            <a href="https://es-la.facebook.com/Autocity.avant/">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/peugeotarg">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://ar.linkedin.com/company/peugeot-argentina">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/peugeotarg/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> Todos los derechos reservados
        <a href="https://html.design/">Cristian Senatore web's</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->


  <!-- jQery -->
  <script src="{%static 'aplicacion/js/jquery-3.4.1.min.js'%}"></script>
  <!-- bootstrap js -->
  <script src="{%static 'aplicacion/js/bootstrap.js'%}"></script>
  <!-- lightbox Gallery-->
  <script src="{%static 'aplicacion/js/ekko-lightbox.min.js'%}"></script>
  <!-- custom js -->
  <script src="{%static 'aplicacion/js/custom.js'%}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="{% static 'js/script.js' %}"></script>


</body>

</html>