{% extends 'aplicacion/administracion.html' %}
{% load static %}

    {% block contenido %}
    <div class="detail-box">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="inner_detail-box">
          <h1>
            Logout<br>
          </h1>
          <h4>
            <p style="color:whitesmoke" align="center">
                Usted ha finalizado su sesion! lo esperamos pronto!
            </p>
          </h4>
        </div>
      </div>
    </div>
  </section>
  <body>
    {% endblock contenido %}
      
