{% extends 'aplicacion/administracion.html' %}
{% load static %}

    {% block contenido %}
    <div class="detail-box">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="inner_detail-box">
          <h1>
            Peugeot Ventas<br>
            
          </h1>
          <p>
            vehiculos 0km de Peugeot
          </p>
          <div>
            <a href="{% url 'create_nuevo' %}" class="slider-link">
              Cargar nuevos modelos
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <body>
    <h1>
      Unidades 0 KM PEUGEOT
    </h1>
    <table>
        <tr>
            <td><h4>Nuevo: {{object}}</h4></td>
        </tr>
    </table>
    <table class="table">
      <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Combustible</th>
            <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.marca }}</td>
            <td>{{ object.modelo }}</td>
            <td>{{ object.combustible }}</td>
            <td>{{ object.precio }}</td>
        </tr>
      </tbody> 
    </table>
    <a
    href="../../nuevos/"
    class="btn btn-danger"
    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; ---bs-btn-padding-siza: .75rem;"
    ><i class="fa fa-search fa-sm" title="List Back">Volver</i>
    </a>

        {% endblock contenido %}
          
    