{% extends 'aplicacion/administracion.html' %}
{% load static %}

    {% block contenido %}
    <div class="detail-box">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="inner_detail-box">
          <h1>
            Logout<br>
          </h1>
          <br>
          <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <button type="submit"> Crear Usuario</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <body>
    {% endblock contenido %}
