{% extends 'aplicacion/administracion.html' %}
{% load static %}

    {% block contenido %}
    <div class="detail-box">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="inner_detail-box">
          <h1>
            Peugeot Service<br>
            
          </h1>
          <p>
            Bienvenido al area de Service de vehiculos 0km
          </p>
        </div>
      </div>
    </div>
  </section>
  <body>

<table>
    <tr>
        <td><h4>Service : {{object}}</h4></td>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Turnos</th>
            <th>Mantenimiento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.cliente }}</td>
            <td>{{ object.turnos }}</td>
            <td>{{ object.mantenimiento }}</td>
        </tr>
    </tbody>
</table>
<a
href="../../service/"
class="btn btn-danger"
style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; ---bs-btn-padding-siza: .75rem;"
><i class="fa fa-search fa-sm" title="List Back">Volver</i>
</a>
    {% endblock contenido %}
      
